@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Macondo', static;
}

:root {
    --background: #AD28EB;
    --wrong: #ee0000;
    --correct: #15E602;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/background-img.jpg');
    background-size: cover;
    background-position: center;
}

h1, h2 {
    color: black;
    text-align: center;
}



.container{
    width: 700px;
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    justify-content: center;
}


/* Button styles */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn, #animal-btn, #fruit-btn, #colour-btn {
    --hue: var(--background);
    border: 1px solid hsl(287, 100%, 30%);
    background-color: hsl(287, 64%, 45%, 0.501);
    border-radius: 5px 10px;
    padding: 10px 20px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct{
    background-color: var(--correct);
     color: black;
}

.btn.wrong{
    background-color: var(--wrong);
    border-color: black;
}


.current-question{
    font-weight: bold;
    font-size: larger;
    color:#4e1cd6; 
}

#next-btn {
    font-size: 1rem;
    font-weight: bold;
    padding-right: 10px;
}

#restart-btn {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 10px;
    margin-left: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
